<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
<div class="czt-wrapper">
  <div class="czt-row">
    <div class="czt-column">
      {{formInput systemFields.notes enriched=enrichedNotes value=system.notes name="system.notes" toggled=true}}
    </div>
  </div>
</div>
</section>